@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Sistema de Prestamos </h1>
    <p class="lead">ASP.NET es un marco web gratuito para construir excelentes sitios web y aplicaciones web usando HTML, CSS y JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Aprender Mas &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Empezando</h2>
        <p>
            ASP.NET MVC le ofrece una forma poderosa y basada en patrones para crear
            sitios web dinámicos que permite una separación clara de las preocupaciones
            y le otorga un control total sobre el marcado para un desarrollo agradable y ágil..
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Aprender Mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Obtenga más bibliotecas</h2>
        <p>NuGet es una extensión gratuita de Visual Studio que facilita agregar, eliminar y actualizar bibliotecas y herramientas en proyectos de Visual Studio.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Aprender Mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Alojamiento web</h2>
        <p>Puede encontrar fácilmente una empresa de alojamiento web que ofrezca la combinación adecuada de características y precio para sus aplicaciones.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Aprender Mas &raquo;</a></p>
    </div>
</div>